@use 'Size';
@use 'Color';
@use 'Typography';

.TabList {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid Color.$borderColor-default;
}

.Tab {
    padding: Size.$control-large-paddingBlock Size.$control-large-paddingInline-normal;
    display: flex;
    gap: Size.$control-medium-gap;
    flex-direction: row;
    justify-content: center;

    color: Color.$fgColor-muted;
    font-size: Typography.$text-body-size-medium;
    font-weight: Typography.$base-text-weight-normal;
    line-height: Typography.$text-body-lineHeight-medium;

    background-color: Color.$bgColor-muted;
    border-right: 1px solid Color.$borderColor-default;
    border-bottom: 2px solid transparent;

    transition: all 100ms ease-in;

    &:hover {
        cursor: pointer;
    }
}

.TabIcon {
}

.TabBtn {
}

.TabBtn:hover {
    cursor: pointer;
    background-color: Color.$button-default-bgColor-hover;
}

.TabActive {
    border-bottom: 2px solid Color.$activeTabBorderColor;
}
