@use 'Size';
@use 'Color';
@use 'Typography';

.Tree {
}

.TreeFolder {
}

.TreeItemLabel {
    width: 100%;
    padding: Size.$control-xsmall-paddingBlock Size.$control-xsmall-paddingInline-normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: Size.$control-medium-gap;

    font-size: Typography.$text-body-size-large;
    font-weight: Typography.$base-text-weight-normal;
    line-height: Typography.$text-body-lineHeight-medium;

    &:hover {
        cursor: pointer;
        background-color: Color.$button-default-bgColor-hover;
    }
}

.TreeFolderBody {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.TreeFolderBodyToggle {
    height: auto;
}

.TreeFile {
}

.TreeFileActive {
    background-color: Color.$bgColor-accent-muted;
}

.TreeItem {
}

.TreeItemIcon {
}

.TreeItemLabel {
}
