$base-text-weight-light: 300;
$base-text-weight-normal: 400;
$base-text-weight-medium: 500;
$base-text-weight-semibold: 600;

$text-body-lineHeight-large: 1.5;
$text-body-lineHeight-medium: 1.4285;
$text-body-lineHeight-small: 1.6666;

$text-body-size-large: 1rem;
$text-body-size-medium: 0.875rem;
$text-body-size-small: 0.75rem;

$text-title-size-large: 2rem;
$text-title-size-medium: 1.25rem;
$text-title-size-small: 1rem;
$text-title-weight-large: var(--base-text-weight-semibold);
$text-title-weight-medium: var(--base-text-weight-semibold);
$text-title-weight-small: var(--base-text-weight-semibold);
$text-title-lineheight-large: 1.5;
$text-title-lineheight-medium: 1.6;
$text-title-lineheight-small: 1.5;
